# source
git /extensions/OpenGLPostProcessEffects    https://github.com/OpenEngineDK/extensions-OpenGLPostProcessEffects.git
git-dev /extensions/OpenGLPostProcessEffects    git@github.com:OpenEngineDK/extensions-OpenGLPostProcessEffects.git
